body {
	background-image: url("https://c1.staticflickr.com/8/7221/7108632527_7f7b68b60e_b.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 10%;
	color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
  width: 80%;
  height: 80%;
}

.title {
  font-family: 'Handlee', cursive;
	background-color: #4c0060;
	opacity: 0.8;
	border-radius: 15px;
  font-size: 3.3em;
	color: beige;
}

.para {
	font-size: 2em;
	color: beige;
	padding-bottom: 4%;
}

.details {
	background-color: pink;
	color: black;
	border-radius: 15px;
	padding: 5% 5%;
	position: absolute;
	top: 50%;
	margin-left: 30%;
	margin-right: 30%;

}

.editInfo {
	background-color: pink;
	color: black;
	border-radius: 15px;
	padding: 5% 5%;
	position: absolute;
	top: 30%;
	margin-left: 30%;
	margin-right: 30%;
}

path.land {
  fill: #CCCCCC;
  fill-opacity: 0.8;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

path.land:hover {
  fill: #4c0060;
  fill-opacity: 0.65;
	animation: country 3s infinite;
  animation-direction: alternate;
}
@keyframes country {100% {transform: scale(1.01);} }


/* "https://media.giphy.com/media/fC6BAcnLFF2o/giphy.gif" */

/* https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif
-- twinkly */
